<p id="notice"><%= notice %></p>

<h1>Listing <%= @summoner.name %>'s Champions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @champions.each do |champion| %>
      <tr>
        <td><%= champion.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
